<a href="https://colab.research.google.com/github/madhuri1503/Twitter-Sentiment-Analysis/blob/main/Twitter_Sentiment_Analysis3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read the Data from the Given excel file

In [ ]:
import pandas as pd

# Read the data from the Excel file
data = pd.read_csv('/content/drive/MyDrive/edureka/dataset_for_assaignment3/Dataset/Twitter_Data.csv')

# Check the first few rows of the data
print(data.head())

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [ ]:
df=pd.DataFrame(data)
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

Change our dependent variable to categorical. (0 to “Neutral,”-1 to “Negative”, 1 to “Positive”)

In [ ]:

# Create a dictionary to map the values
sentiment_map = {0: 'Neutral', -1: 'Negative', 1: 'Positive'}

# Use the map function to replace the values
df['category'] = data['category'].map(sentiment_map)

# Verify the change
print(df['category'].value_counts())

Positive    72250
Neutral     55213
Negative    35510
Name: category, dtype: int64

In [ ]:
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...  Negative
1  talk all the nonsense and continue all the dra...   Neutral
2  what did just say vote for modi  welcome bjp t...  Positive
3  asking his supporters prefix chowkidar their n...  Positive
4  answer who among these the most powerful world...  Positive

Do Missing value analysisand drop all null/missing values

In [ ]:

# Check for missing values
print(df.isna().sum())

# Drop rows with missing values
df.dropna(inplace=True)

# Verify that missing values have been dropped
print(df.isna().sum().sum() == 0)

clean_text    4
category      7
dtype: int64
True

Do text cleaning. (remove every symbol except alphanumeric, transform all words to lower case, and remove punctuationand stopwords )

In [ ]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:


# Remove all symbols except alphanumeric characters
df['clean_text'] = df['clean_text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

# Transform all words to lower case
df['clean_text'] = df['clean_text'].apply(lambda x: x.lower())

# Remove punctuation and stopwords
stop_words = set(stopwords.words('english'))
df['clean_text'] = df['clean_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words and word.isalpha()]))

# Verify the change
print(df['clean_text'].head())

0    modi promised minimum government maximum gover...
1               talk nonsense continue drama vote modi
2    say vote modi welcome bjp told rahul main camp...
3    asking supporters prefix chowkidar names modi ...
4    answer among powerful world leader today trump...
Name: clean_text, dtype: object

Create a new column and find the length of each sentence (how many words they contain)

In [ ]:

# Create a new column to store the length of each sentence
df['sentence_length'] = df['clean_text'].apply(lambda x: len(x.split()) if type(x) == str else 0)

# Verify the change
print(df['sentence_length'].head())

0    21
1     6
2    13
3    19
4    10
Name: sentence_length, dtype: int64

In [ ]:
df.head()

,clean_text,category,sentence_length
0,modi promised minimum government maximum gover...,Negative,21
1,talk nonsense continue drama vote modi,Neutral,6
2,say vote modi welcome bjp told rahul main camp...,Positive,13
3,asking supporters prefix chowkidar names modi ...,Positive,19
4,answer among powerful world leader today trump...,Positive,10

Split data into dependent(X) and independent(y) dataframe

In [ ]:

# Split the data into X (features) and y (target)
X = df['clean_text']
y = data['category']

 **Do operation son text data **

*Steps to Do operationson text data for  Twitter Sentiment Analysis ** *italicized text*

1) Load the data from the excel file.

2) Clean the data by removing unwanted symbols, converting all words to lowercase and removing punctuation and stopwords.

3) Create a new column to find the length of each sentence.

4) Split the data into dependent(X) and independent(y) variables.

5) Perform one-hot encoding for each sentence using TensorFlow.

6) Add padding from the front side using TensorFlow.

7) Build an LSTM model, compile it and train it.

8) Evaluate the performance of the model by measuring accuracy and other performance metrics such as precision, recall, f1-score, etc.

9) Normalize the prediction by rounding the decimal values to the nearest whole number.

10) Generate a classification report to compare the actual values with the predicted values.

In [ ]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
#Do one-hot encoding for each sentence(use TensorFlow)

import numpy as np
import tensorflow as tf

# Define the target classes
classes = [0, 1, -1]

# Get the unique labels in the target variable
unique_labels = np.unique(y)

# Identify the missing values in the target variable
missing_values = np.isnan(y)

# Replace the missing values with a default value
y[missing_values] = 0

# Get the unique labels in the target variable after handling missing values
unique_labels = np.unique(y)

# Check that the labels are within the defined classes
if np.isin(unique_labels, classes).all():
    # One-hot encode the target variables
    y = tf.keras.utils.to_categorical(y, num_classes=len(classes))
else:
    print("Invalid label found")

In [ ]:
y

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       ...,
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.]], dtype=float32)

In [ ]:

!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)

In [ ]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
import numpy as np
import re
import nltk
import string

Do one-hot encoding for each sentence(use TensorFlow)Add padding from the front side (use Tensorflow).

can be done in this way to.

In [ ]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words("english"))

# load the dataset
data = pd.read_csv('/content/drive/MyDrive/edureka/dataset_for_assaignment3/Dataset/Twitter_Data.csv')

# remove missing values
data.dropna(inplace=True)

# clean the text data
def clean_text(clean_text):
    # remove special characters and digits
    text = re.sub(r'\W+|\d+', ' ', clean_text)

    # convert to lowercase
    text = text.lower()

    # remove stopwords
    text = [word for word in text.split() if word not in stop_words]

    return " ".join(text)

data["clean_text"] = data["clean_text"].apply(clean_text)

# one-hot encoding using TensorFlow
import tensorflow as tf

# convert text to numerical data using one-hot encoding
tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words=1000)
tokenizer.fit_on_texts(data["clean_text"])
text_encoded = tokenizer.texts_to_matrix(data["clean_text"], mode='binary')

# padding from the front side
text_encoded = tf.keras.preprocessing.sequence.pad_sequences(text_encoded, padding='post')

# split data into dependent and independent variables
X = text_encoded
y = data["category"]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

**Build an LSTM model and compile it(describe features, input length, vocabulary size, information drop-out layer, activation function for output, )**

In [ ]:
df1 = pd.DataFrame(data)

In [ ]:
# Create a new column to store the length of each sentence
df1['sentence_length'] = df1['clean_text'].apply(lambda x: len(x.split()) if type(x) == str else 0)

# Verify the change
print(df1['sentence_length'].head())

0    21
1     6
2    13
3    19
4    10
Name: sentence_length, dtype: int64

In [ ]:

df1.head(10)

,clean_text,category,sentence_length
0,modi promised minimum government maximum gover...,-1.0,21
1,talk nonsense continue drama vote modi,0.0,6
2,say vote modi welcome bjp told rahul main camp...,1.0,13
3,asking supporters prefix chowkidar names modi ...,1.0,19
4,answer among powerful world leader today trump...,1.0,10
5,kiya tho refresh maarkefir comment karo,0.0,6
6,surat women perform yagna seeks divine grace n...,0.0,10
7,comes cabinet scholars like modi smriti hema t...,0.0,9
8,upcoming election india saga going important p...,1.0,21
9,gandhi gay modi,1.0,3

splitting the data into train and test

In [ ]:
#Spliting the data set into training and testing data.

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df1['clean_text'].values , df1['category'].values , test_size=0.30)

In [ ]:
#checking the data split.
print('sentiment_text:',x_train[0])
print('sentiment:',y_train[0])

sentiment_text: sir congratulations big day sir waiting become vishwa guru sab jante modi mumkin
sentiment: 0.0

In [ ]:
#converting strins into integers useing tokenizer.
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

#insializing the tokenizer

max_vocab = 2000000
tokenizer = Tokenizer(num_words=max_vocab)
tokenizer.fit_on_texts(x_train)

In [ ]:

#checking the word index and vocabulary of the dataset.

wordidx = tokenizer.word_index
V = len(wordidx)
print("size od dats set vocabilary is:",V)

size od dats set vocabilary is: 80997

In [ ]:
#converting traiiin and test sentance into sequence.

train_seq = tokenizer.texts_to_sequences(x_train)

test_seq = tokenizer.texts_to_sequences(x_test)
print("training sequence:",train_seq[0])
print("testing sequence:",test_seq[0])

training sequence: [43, 212, 111, 85, 43, 397, 102, 9815, 2448, 868, 9816, 1, 514]
testing sequence: [7, 1, 473, 323, 214, 2, 21, 638, 1960, 4, 1544, 1064, 2929, 74, 117, 12254, 74, 3007, 281, 801, 1653, 4, 306]

In [ ]:
#padding the sequence to equal length sequence because it is easy to use same size sequence.
#padding traing sequence

pad_train = pad_sequences(train_seq)
T = pad_train.shape[1]
print("length of the training sequenene:",T)

length of the training sequenene: 43

In [ ]:
#padding testing sequence.

pad_test = pad_sequences(test_seq,maxlen=T)
print("length of the testing sequenene:",pad_test.shape[1])

length of the testing sequenene: 43

In [ ]:
#build the model.

from tensorflow.keras.layers import Input, Dense, Embedding, LSTM, GlobalMaxPooling1D
from tensorflow.keras.models import Model

D = 20
M = 15

l = Input(shape=(T,))
x = Embedding(V+1, D)(l)
x = LSTM(M, return_sequences = True)(x)
x = GlobalMaxPooling1D()(x)
x = Dense(32,activation='relu')(x)
x = Dense(1,activation='sigmoid')(x)

model = Model(l,x)

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

training the new model

In [ ]:
r =  model.fit(pad_train,y_train,validation_data=(pad_test,y_test),epochs=2)

Epoch 1/2
3565/3565 [==============================] - 174s 48ms/step - loss: -129.5036 - accuracy: 0.5847 - val_loss: -416.6516 - val_accuracy: 0.6199
Epoch 2/2
3565/3565 [==============================] - 151s 42ms/step - loss: -1037.1578 - accuracy: 0.6510 - val_loss: -1702.0275 - val_accuracy: 0.6396

Normalize the prediction as same as the originaldata(prediction might be in decimal, so whoever is nearest to 1 is predicted as yes and set other as 0)

In [ ]:
import numpy as np

# Make prediction
prediction = model.predict(pad_test)

# Convert prediction to binary
prediction_binary = np.where(prediction > 0.5, 1, 0)

# Normalize binary prediction to original data
prediction_normalized = np.where(prediction_binary == 1, 1, -1)

1528/1528 [==============================] - 10s 7ms/step

In [ ]:
prediction_normalized

array([[-1],
       [ 1],
       [-1],
       ...,
       [-1],
       [-1],
       [-1]])

Measure performance metrics and accuracy

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

y_true = y_test  # actual labels
y_pred = prediction_normalized  # predicted labels

precision = precision_score(y_true, y_pred, average='weighted')
recall = recall_score(y_true, y_pred, average='weighted')
f1 = f1_score(y_true, y_pred, average='weighted')
accuracy = accuracy_score(y_true, y_pred)

print("Precision:", precision)
print("Recall:", recall)
print("F1 score:", f1)
print("Accuracy:", accuracy)

Precision: 0.4868363438655531
Recall: 0.5211184062506392
F1 score: 0.45997867364022144
Accuracy: 0.5211184062506392

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

        -1.0       0.31      0.96      0.47     10811
         0.0       0.00      0.00      0.00     16540
         1.0       0.95      0.70      0.81     21540

    accuracy                           0.52     48891
   macro avg       0.42      0.55      0.43     48891
weighted avg       0.49      0.52      0.46     48891

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))